<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm">
    <div class="container">

        <!-- LOGO -->
        <a class="navbar-brand fw-bold text-primary" href="/">
            LOGO
        </a>

        <!-- MOBILE BUTTON -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarClinic"
                aria-controls="navbarClinic"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAVBAR CONTENT -->
        <div class="collapse navbar-collapse" id="navbarClinic">

            <!-- LEFT MENU -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="menu-list">
                <!-- JS render -->
            </ul>

            <!-- RIGHT USER -->
            <ul class="navbar-nav ms-auto" id="user-box">
                <!-- JS render -->
            </ul>

        </div>

    </div>
</nav>